{% extends 'EcommerceApp/Base.html' %}
{% load static %}

{% block content %}

<style>

.favorite-page {


    min-height: calc(100vh - 80px);

    background:
    linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );

    padding:40px 15px 30px;


}



/* Heading */

.favorite-title {

    color:white;

    font-size:clamp(24px,4vw,38px);

    font-weight:800;

    text-align:center;

    margin-bottom:40px;

}





/* Card */

.favorite-card {


    background:white;

    border-radius:18px;

    overflow:hidden;

    color:#333;

    height:100%;

    transition:.3s;

    box-shadow:
    0 8px 20px rgba(0,0,0,.15);


}



.favorite-card:hover {


    transform:translateY(-8px);


    box-shadow:
    0 15px 30px rgba(0,0,0,.25);


}





/* Image */


.favorite-img-wrapper {


    width:100%;


    height:250px;


    background:#f8f8f8;


    display:flex;


    justify-content:center;


    align-items:center;


    overflow:hidden;


}





.favorite-img {


    width:100%;


    height:100%;


    object-fit:contain;


    padding:10px;


    transition:.4s;


}




.favorite-card:hover .favorite-img {


    transform:scale(1.08);


}






.product-name {


    font-weight:700;

    font-size:18px;

    min-height:45px;


}





.price {


    color:#6c5ce7;

    font-weight:700;

    font-size:18px;


}






.btn-remove {


    background:#ff4d4d;

    color:white;

    border-radius:25px;

    padding:8px 20px;

    border:none;

    transition:.3s;


}





.btn-remove:hover {


    background:#d63031;

    color:white;

    transform:scale(1.05);


}





.empty-box {


    color:white;

    text-align:center;

    padding:50px 20px;


}







@media(max-width:768px){


.favorite-page{

padding:25px 10px 20px;

}



.favorite-img-wrapper{


height:200px;


}


}




@media(max-width:400px){


.favorite-img-wrapper{


height:170px;


}



.product-name{


font-size:15px;


}



.price{


font-size:16px;


}


}



</style>





<div class="favorite-page">



<div class="container">





<h1 class="favorite-title">

❤️ My Wishlist Products

</h1>







<div class="row g-4">



{% for fav in favorites %}



<div class="col-xl-3 col-lg-4 col-md-6 col-6">



<div class="favorite-card">





<div class="favorite-img-wrapper">



{% if fav.product.product_image %}


<img 
src="{{ fav.product.product_image.url }}"
class="favorite-img"
alt="{{ fav.product.name }}">



{% else %}


<img
src="{% static 'images/default.jpg' %}"
class="favorite-img"
alt="Product">



{% endif %}



</div>







<div class="p-3 text-center">



<h5 class="product-name">

{{ fav.product.name }}

</h5>





<p class="price mb-3">

₹{{ fav.product.selling_price }}

</p>






<a 
href="{% url 'remove_from_favorite' fav.product.id %}"
class="btn btn-remove">


Remove


</a>






</div>



</div>




</div>




{% empty %}




<div class="empty-box">


<p class="fs-5">

No favorites yet 💔

</p>


<a href="{% url 'home' %}" class="btn btn-light rounded-pill px-4">


Browse Products


</a>



</div>




{% endfor %}



</div>



</div>



</div>



{% endblock content %}