
{% load static %}


<link rel="stylesheet" href="{% static 'css/footer.css' %}">


<footer class="trendy-footer">


<div class="container">


<div class="row gy-5">



<!-- BRAND SECTION -->

<div class="col-lg-4 col-md-6 footer-box animate-footer">


<h3 class="footer-logo">

Trendy<span>Shop</span>

</h3>



<p>

Your one-stop destination for trendy fashion,
quality products and amazing shopping experience.

</p>



<div class="social-icons">


<a href="#">
<i class="fa-brands fa-facebook-f"></i>
</a>


<a href="#">
<i class="fa-brands fa-instagram"></i>
</a>


<a href="#">
<i class="fa-brands fa-twitter"></i>
</a>


<a href="#">
<i class="fa-brands fa-youtube"></i>
</a>


</div>



</div>







<!-- QUICK LINKS -->


<div class="col-lg-2 col-md-6 footer-box animate-footer">


<h5>

Quick Links

</h5>


<ul>


<li>
<a href="{% url 'home' %}">
Home
</a>
</li>


<li>
<a href="{% url 'catagory' %}">
Categories
</a>
</li>


<li>
<a href="{% url 'about' %}">
About Us
</a>
</li>


<li>
<a href="{% url 'service' %}">
Services
</a>
</li>


</ul>


</div>








<!-- CUSTOMER SERVICE -->


<div class="col-lg-3 col-md-6 footer-box animate-footer">


<h5>

Customer Service

</h5>


<ul>


<li>
<a href="#">
Contact Us
</a>
</li>


<li>
<a href="#">
Privacy Policy
</a>
</li>


<li>
<a href="#">
Terms & Conditions
</a>
</li>


<li>
<a href="#">
FAQ
</a>
</li>


</ul>


</div>








<!-- NEWSLETTER -->


<div class="col-lg-3 col-md-6 footer-box animate-footer">


<h5>

Newsletter

</h5>


<p>

Subscribe for latest offers and updates.

</p>



<div class="newsletter">


<input 
type="email"
placeholder="arunachalam321@gmail.com"
>


<button>

<i class="fa-solid fa-paper-plane"></i>

</button>


</div>



</div>





</div>


</div>






<!-- COPYRIGHT -->


<div class="footer-bottom">


<p>

© 2026 TrendyShop. All Rights Reserved.

</p>


</div>







<!-- BACK TO TOP -->


<button id="footerTop"
class="footer-top">


<i class="fa-solid fa-arrow-up"></i>


</button>




<script src="{% static 'js/footer.js' %}"></script>


</footer>
