{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="shop-navbar">

    <div class="nav-container">

        <!-- Logo -->
        <a href="{% url 'home' %}" class="brand-logo">
            Trendy<span>Shop</span>
        </a>


        <!-- Mobile Toggle -->
        <button class="mobile-toggle" id="mobileToggle">
            <i class="fa-solid fa-bars"></i>
        </button>


        <!-- Search -->
        <div class="search-wrapper">

            <input 
                type="search"
                id="searchInput"
                placeholder="Search products..."
                autocomplete="off"
            >

            <button class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>


            <div id="suggestionsBox"
                 class="suggestions-box">
            </div>

        </div>



        <!-- Menu -->
        <div class="nav-menu" id="navMenu">


            <!-- Mobile Close -->
            <button class="mobile-close" id="mobileClose">
                <i class="fa-solid fa-xmark"></i>
            </button>



            <a href="{% url 'home' %}" class="nav-item">
                <i class="fa-solid fa-house"></i>
                Home
            </a>


            <a href="{% url 'catagory' %}" class="nav-item">
                <i class="fa-solid fa-layer-group"></i>
                Categories
            </a>


            {% if request.user.is_authenticated %}


            <!-- Profile -->
            <a href="{% url 'update' request.user.id %}"
               class="profile-link">

                {% if request.user.profile_image %}

                <img src="{{request.user.profile_image.url}}">

                {% else %}

                <img src="{% static 'images/default_profile.jpg' %}">

                {% endif %}

                <span>
                    {{request.user.username}}
                </span>

            </a>



            <a href="{% url 'favorites' %}" 
               class="nav-item">

                <i class="fa-solid fa-heart"></i>
                Wishlist

            </a>



            <a href="{% url 'cart' %}" 
               class="nav-item cart-link">

                <i class="fa-solid fa-cart-shopping"></i>
                Cart

            </a>



            <a href="{% url 'order_list' %}"
               class="nav-item">

                <i class="fa-solid fa-box"></i>
                Orders

            </a>



            <a href="{% url 'logout' %}"
               class="login-btn">

                Logout

            </a>



            {% else %}



            <a href="{% url 'login' %}"
               class="login-btn">

                Login

            </a>



            <a href="{% url 'register' %}"
               class="nav-item">

                Register

            </a>


            {% endif %}



        </div>


    </div>

</nav>



<script>

const productDetailUrl =
"{% url 'product_detail' 0 %}";

</script>



<script src="{% static 'js/navbar.js' %}"></script>